.vs/
*.db
*.db-shm
*.db-wal
*.vsidx
*.suo
*.ipch
*.VC.db
*.VC.opendb
*.backup.json
DocumentLayout.json
*.ilk
*.log
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exe
*.recipe
*.pyd
x64/
markovChain.sln
markovChain.vcxproj
markovChain.vcxproj.filters
markovChain.vcxproj.user